@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.eot") format("eot"),
         url("fonts/TTLakes-Medium.woff") format("woff"),
         url("fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakesCondensed-Bold.eot") format("eot"),
    url("fonts/TTLakesCondensed-Bold.woff") format("woff"),
    url("fonts/TTLakesCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@media (min-width: 320px){
.body{
    width: 100%;
    margin:0;
    box-sizing:content-box;
    font-family:"TT Lakes";
}
.menu-navigation-for-1120{
    display: none;
}
.navigation__list{
        padding: 16px 0 16px 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        border-bottom:1px solid  #D9FFF5;
    }
.navigation__item{
         list-style-type: none;
     }

.navigation__button{
   border:0;
    background-color: white;
    padding: 0;
    }
.navigation__logo::after{
    content: url("img/divider/divider.svg");
    margin-top: 16px ;
    margin-left: 16px;
}
.navigation__menu{
    display: flex;
    justify-content: space-around;
width: 18%;
}

.navigation__logo{
        display: flex;
    justify-content: space-around;
    width:39%;

}
.navigation__feedback{
    display: none;

}
.navigation__support{
    display: flex;
    justify-content: space-around;
   width: 39%;
}

.main-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.heading{
    display: flex;
    flex-direction: row;
}
.heading__services{
	margin-left: 12px;
	font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.select{
	width: 100%;
    display: flex;
	flex-wrap: nowrap;
    overflow: hidden;
}

.select__button{
    display: inline-block;
    margin-left: 16px;
    padding:0;
    background-color: white;
    height: 40px;
    box-sizing:border-box;
    border-radius: 6px;
    border: 1px solid white;
}
.select__button:focus{
    border: 1px solid #B8FFEC;
    outline: 0;
}
.select__part{
	padding: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #7E7E82;
    text-align: justify;
    white-space: nowrap;
    font-family: "TT Lakes";
}

.main-content__discription{
    width: 288px;
    height: 150px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 16px;
    overflow: hidden;
}
.main-content__paragraph1{
    margin-bottom: 10px;
}
.main-content__paragraph2{
    display:none;
}
.main-content__button-more{
	width:140px;
    padding: 0;
	border:0;
	background-color: white;
	margin-left: 20px;

}
.main-content__read-more{
	margin-left: 16px;
	font-size: 16px;
    line-height: 24px;
}

.main-content__photo{s
    margin-top: 16px;
    width: 360px;
    height: 208px;
}

}


@media (min-width: 784px) {
    .body {
        margin: 0;
        box-sizing: content-box;
        font-family: "TT Lakes";
    }


    .navigation__list {
        width: 100%;
        display: flex;
        justify-content: unset;
        align-items: center;
        border-bottom: 1px solid #D9FFF5;
    }

    .navigation__menu{
        width:13%;
    }

    .navigation__menu::after{
        content: url("img/divider/divider.svg");
        margin: 5px 20px 0 20px;
    }
    .navigation__logo{
        width:12%;
    }
    .navigation__support{
        width:10%;
    }
    .navigation__feedback{
        justify-content: flex-end;
        display: flex;
        width:60%;
    }

    .navigation__feedback::after{
        content: url("img/divider/divider.svg");
        margin: 5px 20px 0 20px;
    }
    .navigation__item{
        margin-left: 16px;
    }
    .navigation__logo::after{
        display: none;

    }
    .heading {
        width: 100%;
        font-family: "TT Lakes";
    }

    .heading__services {
        margin-left: 20px;
    }

    .main-content {
        display: flex;
        flex-direction: row;

    }

    .main-content__discription {
        margin-top: 32px;
        width: 312px;
        height: 205px;
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .main-content__paragraph2 {
        display: inline;
        overflow: hidden;

    }

    .main-content__photo {
        width: 360px;
        height: 208px;
        margin-left: 70px;
        margin-top: 46px;
        order: 2;
    }

    .main-content__button-more {
        order: 3;
    }
}
@media (min-width: 1120px){
.telo{
    height: 535px;
}
.navigation{
    display:none;
}
.heading {
        width: 60%;
        font-family: "TT Lakes";
}
.menu-navigation-for-1120{
    width: 37%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.heading,
.menu-navigation-for-1120{
    margin-top:38px ;
}
.select{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}
.select__button{
    margin: 10px 0 0 0;

}
.select__part{
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 15px 20px 15px 20px;
}
.menu-navigation-for-1120__button-kit,
.menu-navigation-for-1120__button-search{
    margin-left: 9px;
}
.main-content__discription{
    width: 490px;
    height: 220px;
}
.main-content__button-more{
   margin-left: 0;
    margin-top:13px;
}
.main-content__photo{
 margin-top: 38px;
    width: 531px;
    height: 250px;
    margin-left: 36px;
}
}
