@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Black.eot") format("eot"),
         url("fonts/TTLakes-Black.woff") format("woff"),
         url("fonts/TTLakes-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.eot") format("eot"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}
.body{
    width: 100%;
    margin:0;
    box-sizing:content-box;
    font-family:"TT Lakes";
}
.menu-navigation-for-1120{
    display: none;
}
.navigation__list{
    width: 100%;
    padding: 16px 0 16px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom:1px solid  #D9FFF5;
}
.navigation__item{
    list-style-type: none;
}

.navigation__button{
    border:0;
    background-color: white;
    padding: 0;
}
.navigation__logo::after{
    content: url("img/divider/divider.svg");
    margin-top: 16px ;
    margin-left: 16px;
}
.navigation__menu{
    display: flex;
    padding: 0;
    margin-left:16px;
}

.navigation__logo{
    display: flex;
    padding: 0;
    margin-left:16px
}
.navigation__feedback{
    display: none;
    padding: 0;
}
.navigation__name-button{
    display:none;
}
.navigation__support{
    display: flex;
    padding: 0;
    justify-content:flex-end;

}
.navigation__item_support-margin-left{
    margin-left: auto;
    box-sizing: border-box;
}
.navigation__support .navigation__item{
    margin-right: 16px;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.title__services{
	padding-left: 16px;
	font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.title::before{
   content:url("img/heading-design/highlight.svg");
    position: absolute;
    bottom: 0;
    top:110px;
}

.main__navigation{
    width: 100%;
    overflow: scroll;
}
.main__navigation-list{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
}
.select__button{
    text-decoration: none;
    display: inline-block;
    margin-left: 16px;
    padding:0;
    background-color: white;
    height: 40px;
    border-radius: 6px;
    border: 1px solid white;
}
.select__button:focus,
.select__button:hover,
.select__button:active{
    border: 1px solid #B8FFEC;
    background-color: white;
    outline: 0;
}
.select__part{
    display: block;
    padding: 8px 9px 8px 16px;
    font-size: 18px;
    line-height: 24px;
    color: #7E7E82;
    text-align: justify;
    white-space: nowrap;
    font-family: "TT Lakes";
}

.main-content__discription{
    width: 100%;
    height: 150px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}
.main-content__text-discription{
    padding: 0 16px 0 16px;
}
.main-content__paragraph1{
    margin-bottom: 10px;
}
.main-content__paragraph2{
    display:none;
}
.main-content__button-more{
	width:140px;
    padding: 0;
	border:0;
	background-color: white;
	margin-left: 20px;

}
.main-content__read-more{
	margin-left: 16px;
	font-size: 16px;
    line-height: 24px;
}
.main__photo-container{
    margin:0;
    width: 100%;
}
.main__photo{
    width:100%;
    height: auto;
}




@media (min-width: 784px) {
    .body {
        margin: 0;
        box-sizing: content-box;
        font-family: "TT Lakes";
    }


    .navigation__list {
        width: 100%;
        display: flex;
        justify-content: unset;
        align-items: center;
        border-bottom: 1px solid #D9FFF5;
    }
    .navigation__menu{
        margin: 0 0 0 24px;
    }
    .navigation__menu::after{
        content: url("img/divider/divider.svg");
        margin: 5px 20px 0 20px;
    }
    .navigation__logo{
     margin:0;
    }

    .navigation__feedback{
        display: flex;
    }
    .navigation__feedback .navigation__item{
        margin-left: 16px;
    }
    .navigation__item_feedback-margin-left{
        margin-left: auto;
    }
    .navigation__item_support-margin-left{
        margin-left: 0;
    }
    .navigation__feedback::after{
        content: url("img/divider/divider.svg");
        margin: 5px 20px 0 20px;
    }
    .navigation__logo::after{
        display: none;
    }

    .title {
        width: 100%;
        font-family: "TT Lakes";
    }

    .heading__services {
        margin-left: 20px;
    }

    .main__navigation{
        width:100%;
    }
    .main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-content__discription{
        overflow: hidden;
        width:44%;
        height:160px;
        order:1;
    }
    .main-content__text-discription{
        margin:0;
        height: 160px;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
    .main-content__paragraph2 {
        display: inline;
        overflow: hidden;
    }

    .main__photo-container {
        order: 2;
        width: 50%;
        margin-left: auto;
    }
    .main-content__button-more {
        position:absolute;
    }
}
@media (min-width: 1120px){
.body{
    width: 100%;
}
.navigation__list{
   position:absolute;
    border:0;
    top: 43px;
}
    .navigation__menu,
    .navigation__logo,
    .navigation__feedback{
    display: none;
}
.navigation__item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .navigation__name-button{
    display:block;
        margin-right: 6px;
}
.title{
    margin-top:38px ;
}
.title::before{
    position: absolute;
    bottom: 0;
    top:55px;
}

.main-content__discription{
    width: 46%;
    height: 160px;
    margin-left: 34px;
}
.main-content__text-discription{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.main-content__button-more{
   margin-left: 14px;
    margin-top:13px;
}
.main__photo-container{
    margin-top: 10px;
    margin-right:28px ;
    width:45%;
}
}
